.container {
  width: 700px;
  margin: 100px auto 0;
}

#country-js {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 10px;
  border: 3px solid #5311bd;
  text-align: center;
  font-size: 35px;
  outline: none;
}
#country-js::placeholder {
  color: #d8caca;
}

img {
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  font-size: 36px;
}

#list {
  font-size: 24px;
}
.country {
  display: flex;
  font-size: 22px;
  align-items: center;
}

.info,
.image {
  width: 50%;
}
